/* variabel */
:root {
  --c-brand: hsl(230, 93%, 59%);
  --c-brand-rgb: 254, 54, 145;
  --c-dark: #303050;
  --c-body: #636383;
  --f-main: "Nunito Sans", sans-serif;
  --transition: 0.2s ease-in-out;
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* Reset and Helpers */
body {
  font-family: var(--f-main);
  color: var(--c-body);
  line-height: 1.7;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content .home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.keahlian-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* atur tinggi konten Home */
}

.keahlian-content .container {
  max-width: 1200px; /* atur lebar konten Home */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}

img {
  width: 100%;
}

.section-padding {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: white;
}

.text-brand {
  color: var(--c-brand);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: antiquewhite;
  color: black;
}

/* Navbar */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar.scrolled {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--c-brand);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-dark);
}

/* img home */
.image-container {
  position: relative;
  width: 400px;
  height: 400px;
  background: var(--c-brand);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 30px;
}

.image-container::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: rgba(255, 255, 255, 0.1);
  clip-path: circle(40% at 30% 30%);
  z-index: 1;
}

.image-container::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: rgba(255, 255, 255, 0.1);
  clip-path: circle(30% at 70% 70%);
  z-index: 1;
}

.image-container img {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icon {
  width: 36px;
  height: 36px;
  margin-right: 6px;
  background-color: var(--c-brand);
  color: white;
  border: 2px solid var(--c-brand);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  background-color: white;
}

/* BTN */
.btn {
  padding: 10px 24px;
  border-radius: 0;
  border-width: 2px;
  font-weight: 500;
}

.btn-brand {
  background-color: var(--c-brand);
  color: white;
  border-color: var(--c-brand);
}

.btn-brand:hover {
  border-color: var(--c-brand);
  color: black;
}

.btn-brand:focus {
  background-color: var(--c-brand);
}

/* portofolio */
.landscape-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
}

/* Custom styles for Activities Section */
.activities .section-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.activity-item {
  position: relative;
}

.activity-time {
  font-size: 0.875rem;
}

.activity-title {
  margin: 0.5rem 0;
}

/* Responsif untuk mobile */
@media (max-width: 768px) {
  .home-content .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-container {
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .home-content .col-lg-7 {
    margin-top: 20px;
  }

  .social-icon {
    margin: 10px 5px;
  }
}

.img-portofolio {
  width: 35px;
  height: 35px;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
